doctype 5
html
    head
        title= title
        script(src="/javascripts/jquery-1.9.1.min.js")
    body
        header.navbar
            div.navbar-inner
                div.container
                    a.brand Elvis
                    ul.nav#main-nav(url=locals.url)
                        li
                            a(href="/")
                                i.icon-home
                                |home
                        li
                            a(href="/articles")
                                i.icon-pencil
                                |articles
                        li
                            a(href="#")
                                i.icon-user
                                |about me
                        li
                            form.navbar-search(action="/search")
                                input.search-query(type="text",style="margin: 0 auto;",
                                    data-provide="typeahead",data-items="4",name="query",autocomplete="off",
                                    data-source="[&quot;呵呵&quot;,&quot;拗口&quot;,&quot;awdawd&quot;]")
        article.container
            block content
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src="/javascripts/bootstrap.min.js")
        script(src="/javascripts/menu.js")