block content
    ul.breadcrumb.pull-right
        li
            a(data-ui-sref="blog.list") blog
            span.divider /
        li
            span(data-ng-bind="blog.title")
    h2.page-header(data-ng-bind="blog.title || '--'")
    div(style="margin: -25px 0 20px;")
        i.icon-download
        a(href="/download/{{blog.id}}") RAW&Download...
    div.row
        div.span3#leftinfo
            dl
                dt 添加时间
                dd(data-ng-bind="blog.created_at | date:'yyyy-M-d H:mm:ss'")

        div.span9#art
            div(data-ng-bind-html="blog.body || loading")
                block blog