extends layout

block content
    ul.unstyled(style="margin: 0 0 5px 25px;")
        li
            a(href="..") ..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ol
        for v,i in blogs
            li
                a(href="/blog/#{v._id}") #{v.title}