@import "common.less";

/*
 * common styles
 */
.table{

}


/*
 * Top styles
 */
#top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  background: #59524C;
  color: #fff;
  z-index: 9;

  .ddown{
    float: left;
    position: relative;
    padding: 0 7px;
    cursor: pointer;
    &:hover{
      background: #46403C;
    }
    p{
      margin: 0;
      a{
        text-decoration: none;
        color: #FFF;
      }
    }
    ul{
      position: absolute;
      left: 0px;
      right: -5px;
      margin: 0;
      padding: 0 10px;
      background: #46403C;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 0px;
      li{
        list-style: none;
        line-height: 32px;
        margin: 0;
        white-space: nowrap;
        a{
          text-decoration: none;
          font-size: 12px;
          color: #FFF;
          &:hover{
            color: #C7A589;
          }
        }
      }
    }
  }

  .hello{
    float: right;
  }

}
/*
 * -- NAV STYLES --
 */
#nav{
  margin: 0;
  padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
  width: 100%;
  height: 40px;
  position: relative;
  background: #59524C;
  text-align: center;

  a:hover, a:focus{
    text-decoration: none;
  }

  /* Show the "Menu" button on phones */
  .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
  }

  /* When "Menu" is clicked, the navbar should be 80% height */
  &.active {
    height: 80%;
  }

  /* Don't show the navigation items... */
  .nav-inner {
    display: none;

    .menus{
      text-align: left;

      > ul{
        list-style: none;
        margin: 0;
        margin: 20px 0 10px 0;

        > li{
          cursor: pointer;

          > a{
            color: #FFF;
            padding: 5px 20px;
            display: block;
            line-height: 1.5em;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
              background: #C7A589;
            }
          }
          &.active > a{
            background: #C7A589;
            color: #FFF;
          }
          ul{
            list-style: none;
            margin: 0;
            background: #46403C;
            li{
              a{
                display: block;
                padding: 6px 20px;
                font-size: 13px;
                line-height: 1.2;
                margin: 0;
                color: #CDCBC9;

                &:hover{
                  color: #C7A589;
                }
              }
              &.active a{
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  /* ...until the "Menu" button is clicked */
  &.active .nav-inner {
    display: block;
    padding: 2em 0;
  }
}

#main{
  width: 100%;

  .admlisttable{
    border: 1px solid #e2e2e2;
    border-top: 0;
  }

  select{
    border-radius: 0;
    margin: 0;
  }

  .ins-title{
    margin: 0;
  }

  .create-wrap{

    table{
      margin-top: 10px;
      width: 80%;

      td.pleft{
        width: 7%;
        text-align: right;
        vertical-align: top;
        padding-top: 10px;
      }
    }

    .input-wrap{

      input{
        border-radius: 0;
        margin: 0;
        color: #333;
      }
    }
  }

  .editor-toolbar,.CodeMirror{
    border-radius: 0;
  }

  .tip,.tip-false{
    padding: 4px 8px;
    color: #444;
    margin-bottom: 10px;
  }
  .tip{
    background: #ECF9F0;
    border-left: 2px solid #008000;
  }
  .tip-false{
    background: #F9ECEC;
    border-left: 2px solid #ff0000;
  }

}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 50em) {

  /* These are position:fixed; elements that will be in the left 500px of the screen */
  #nav, #nav.active {
    position: fixed;
    top: 32px;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    height: auto;
    width: 150px;

    /* Show the menu items on the larger screen */
    .nav-inner {
      display: block;
      padding: 2em 0;

      .menus{
        > ul {
          > li {
            &.active{
              position: relative;
              &:after{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                right: -2px;
                top: 6px;
                background: #FFF;
                border-right: 10px solid #FFF;
                border-bottom: 10px solid #C7A589;
                border-top: 10px solid #C7A589;
              }
            }
          }
        }
      }
    }

    /* Hide the "Menu" button on larger screens */
    .nav-menu-button {
      display: none;
    }
  }

  #main{
    width: auto;
    margin: 52px 10% 0 170px;
  }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 70em) {

}