doctype html
html
    head
        meta(charset="utf-8")
        link(rel='stylesheet', href=locals.css('bootstrap,admin'))
    body(data-ng-app="Cb.admin")
        div#top.clearfix
            div.hello 你好,#{locals.req.session.user.name}
        div#nav(data-ng-controller="navController")
            a.nav-menu-button(href="#",data-ng-click="toggle()") Menu

            div.nav-inner
                a.btn(href="/") 首页
                span &nbsp;&nbsp;
                a.btn.btn-warning(href="/logout") 退出

                div.menus
                    ul
                        li(data-ng-class="{active:$state.includes('blog')}")
                            a(data-ui-sref="blog") 文章
                        li(data-ng-class="{active:$state.includes('logger')}")
                            a(data-ui-sref="logger") 日志

        div#main.container(data-ui-view)

        div#template1.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
            div.modal-header
                button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
                h3#myModalLabel Modal header
            div.modal-body
                p One fine body…
            div.modal-footer
                button.btn(data-dismiss="modal" aria-hidden="true") 关闭
                //button.btn.btn-primary Save changes

        script(src=locals.js('jquery,jquery-form,bootstrap-modal,angular,angular-ui-router,models,core,admin'))
        script.
            Cb.init();