div.row-fluid
    div.span6
        form
            input(name="_id",type="hidden",value="{{cBlog._id}}")
            fieldset
                textarea(data-ng-model="cBlog.body",code-mirror,name="body")
    div.span6
        div#preview Preview
            span#titleAddon.b-flag(data-ng-class="{ok:!!cBlog.title}")
                i.icon-ok
                |title
            span#bodyAddon.b-flag(data-ng-class="{ok:!!cBlog.body}")
                i.icon-ok
                |body
        div#viewer.nano
            div.content(ng-bind-html-unsafe="marked(cBlog.body || '<center style=\"padding: 20px;color:#999\">nothing to show...</center>')")