extends layout

block content

    link(rel="stylesheet", href="/administer.css")

    div#topNav

    div.row-fluid(data-ng-app="admin")
        div.span3#nav(data-ng-controller="blogsController")
            div#leftheader
                input.span9(data-ng-model="b_filter",type="text", placeholder="search...",style="margin:0")
                button.btn.pull-right#refresh(data-ng-click="query()")
                    i.icon-refresh
            div#wrapper.nano
                ol.content
                    li(data-ng-repeat="v in blogs | filter:b_filter")
                        a(data-ng-href="#{{v._id}}",data-ng-class="{active:v._id==cBlog._id}")
                            span(data-ng-bind="v.title")
                            br
                            small(data-ng-bind="'- '+format(v.date)")
                        span(data-ng-click="del(v._id)").pull-right ✖

        div.span9.container(data-ng-view)

    //angular
    script(src="/angular/angular.js")
    script(src="/angular/angular-resource.min.js")
    //util
    script(src="/underscore.js")
    //nanoscroller
    link(rel="stylesheet", href="/nanoscroller/nanoscroller.css")
    script(src="/nanoscroller/jquery.nanoscroller.min.js")
    //codemirror
    link(rel="stylesheet", href="/CodeMirror/codemirror.css")
    script(src="/CodeMirror/codemirror.js")
    script(src="/CodeMirror/mode/markdown/markdown.js")
    //marked
    script(src="/marked.js")
    //admin
    script(src="/administer.js")