legend.ins-title 文章
div#article
    table.table.table-striped
        tbody
            tr
                td 标题
                td(colspan="2") 修改时间
            tr(data-ng-if="isloading")
                td(colspan="4")
                    center(data-ng-bind="loading")
            tr(data-ng-repeat="v in blogs")
                td
                    a(data-ui-sref="blog-edit({id:v.id})",data-ng-bind="v.title")
                td(data-ng-bind="v.created_at | date:'yyyy-M-d H:mm:ss'")
                td
                    div.text-right
                        a.btn.btn-mini(data-ng-click="del(v.id)")
                            i.icon-remove
                            |  delete
                        span &nbsp;&nbsp;
                        a.btn.btn-mini(data-ng-click="view(v.id)")
                            i.icon-eye-open
                            |  view
    div.pagination.pagination-centered
        ul
            li(data-ng-class="{disabled:page==1}")
                a(href="#",data-ng-click="go(page-1)") «
            li(data-ng-repeat="p in pager.pages",data-ng-class="{disabled:page==p}")
                a(href="#",data-ng-bind="p",data-ng-click="go(p)")
            li(data-ng-class="{disabled:page==pager.totalpage}")
                a(href="#",data-ng-click="go(page+1)") »