article.container{
    position: absolute;
    top: 60px;
    bottom: 30px;
}

#topNav{
}

#topNav #title{
    border: 0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    width: 40%;
}

#topNav #save{
    float: right;
}

.pane{
    left:0
}

#nav{
}

#nav #leftheader{

}

#nav #wrapper{
    position: absolute;
    overflow: hidden;
    width: 23.076923076923077%;
    top: 91px;
    bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#nav #wrapper ol{
    margin: 0;
    top: 0;
    bottom: 0;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#nav #wrapper li{
}

#nav li small{
    color: #999;
}

#nav li > span{
    margin: -24px 0 0 0;
    padding: 0px 10px;
    position: relative;
}

#nav li a{
    display: block;
    border-left: 4px solid transparent;
    padding: 5px 10px;
    word-wrap: break-word;
    text-decoration: none;
}

#nav li a.active{
    position: relative;
    border-color: #363636;
    background: whitesmoke;
}

.b-flag{
    background: whitesmoke;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    padding: 0 5px;
    margin-left: 10px;
    float: right;
}

.b-flag i.icon-ok{
    display: none;
}

.b-flag.ok{
    color: #328A00;
    background: #E6FFE0;
}

.b-flag.ok i.icon-ok{
    display: inline-block;
}

#bodyAddon{

}

#save{
    margin-left: 10px;
}
form input[name="title"]{
    width: 409px;
}
.CodeMirror{
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute !important;
    top: 61px;
    bottom: 0px;
    height: auto !important;
    width: 422px;
}

#preview{
    background: #666;
    color: #FFF;
    padding: 5px 10px;
}

#viewer{
    position: absolute;
    bottom: 0;
    top: 91px;
    width: 36.15%;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    box-sizing: border-box;
}

#viewer .content{
    padding-left: 20px;
}

iframe{
    border: 0;
    position: absolute;
    width: 870px;
    height: 100%;
}

footer.row{
    padding: 5px 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}