#topNav{
    padding: 10px 0;
}

#topNav #save{
    float: right;
    margin-right: 10px;
}

#topNav #save.active{
}

#nav{
    position: fixed;
    margin-left: 18px;
    padding-left: 2px;
    width: 130px;
    height: 60%;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
}

#content{
    padding: 0px 10px 10px 160px;
}

#content > form > textarea{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    resize: none;
}




