doctype 5
html(data-ng-app="auth")
    head
        title= locals.title
        link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
    body(data-ng-controller="controller")
        form.form-horizontal
            div.control-group
                label.control-label Email/Name
                div.controls
                    input(type="text",data-ng-model="name")

            div.control-group
                label.control-label Password
                div.controls
                    input(type="{{showPassword&&'text'||'password'}}",data-ng-model="password")
                    label.checkbox
                        input(type="checkbox",data-ng-model="showPassword")
                        |显示密码

            div.control-group
                div.controls
                    label.checkbox
                        input(type="checkbox",data-ng-model="remember")
                        |记住
                    input(type="submit").btn
        script(src="/angular/angular.js")
        script(src="/auth.js")