extends layout
block content
    h2 not found !
    h3(style="padding:10px") Available Routes :
    ul
        for v,i in routes
            li #{i}:
                ol
                    for x,y in v
                        li #{x.path}