body {
    padding: 20px 90px;
}

a {
    color: #00B7FF;
}

h2#title {
    border-bottom: 5px solid #F5F5F5;
    margin-bottom: 25px;
}

#left-nav ul{
}

#left-nav ul li a{
    padding: 10px 0 10px 0px;
    margin: 5px 15px;
    border-bottom: 1px solid #dddddd;
    background-color: #FFFFFF;
}

#left-nav ul li a:hover i{
    display: inline-block;
}

#left-nav ul li.active a{
    color: #777;
}

#left-nav li a i{
    display: none;
}

#left-nav li.active a i{
    /*background-image: url("/images/glyphicons-halflings-white.png");*/
    display: inline-block;
}

#article-inner-nav{
    float: left;
}

ul.breadcrumb.pull-right {
    font-size: 14px;
    margin: 50px 0 0;
    background: #ffffff;
}

i[class*="icon-"]{
    opacity: .8;
    padding-right: 5px;
}

footer{
    text-align: right;
    padding: 10px;
    background: #F3F2F2;
}